* {
    box-sizing: border-box;
}


.name {
    display: block;
    margin: 0 auto;
    text-align: center;
    color: gray;
    text-transform: uppercase;
}

.name span {
    color: rgb(132, 61, 124);
}

.photo img {
 display: block;
 margin: 0 auto;
 width: 30%;
 border-radius: 100%;
 border-style: groove;
 border-color: aliceblue;
 border-width: 10px;
}
.craft {
    display: flex;
    justify-content: center;
    padding: 3%;
}

.hobbies, .skills {
    border-style: groove;
    border-width: 10px;
    border-radius: 10%;
    margin-right: 3%;
    padding: 3%;
    font-size: 21px;
}
li {
    list-style-type:square;
}
span {
    font-family: fantasy;
    color: rgb(132, 61, 124);
}

footer {
    background-color:darkgray;
}
.social {
    display: flex;
    justify-content: right;
    margin-left: auto;
}
.social img {
    margin: 10px 10px;
    padding: 5px 5px;
}
